<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<body>
<h3>Mutation inquiry</h3>

<form action="{% url 'mutapp:queryname' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Query by name:</legend><br>
        <label>Virus Strain Name:
            <input type="text" name="queryname" size="35" >
        </label>
        <p>Input example:</p>
        <p>2019-NCOV/USA-AZ1/2020</p>
        <input type="submit" value="Query">
    </fieldset>
</form>
<br><br>

<form action="{% url 'mutapp:querymutation' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Query by single-mutation:</legend><br>
        <label>Start:
            <input type="text" name="querypos">
        </label>
        <label>Mutation:
            <input type="text" name="querymut" size="30">
        </label>
        <p>Input example:</p>
        <p>Start: 25534</p>
        <p>Mutation: G/T</p>
        <input type="submit" value="Query">
    </fieldset>
</form>
<br><br>

<form action="{% url 'mutapp:multimut' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Query by multi-mutation:</legend><br>
        <label>Start and Mutation:<br><br>
            <textarea name="multimut" cols="40" rows="10"></textarea>
        </label>
        <p>Input example:</p>
        <p>25534;G/T<br>3250;G/T<br>21707;C/T<br>29736;G/T<br>28253;C/T<br>.....</p>
        <input type="submit" value="Query">
    </fieldset>
</form>

<br><br><br><br>
<hr>
<h3>Latest submitted sequence:</h3>
{% if latest_sequence_list %}
    <ul>
        {% for sequence in latest_sequence_list %}
            <li><a href="{% url 'mutapp:metadata' sequence.id %}">{{ forloop.counter }}---{{ sequence.virus_strain_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<hr><hr>
<p>Version: 1.0</p><p>Release: 2020-9-11</p>
<br>
</body>
</html>