<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hit samples:</h3>
<br>
<table width="600" frame="box">
    <tr>
    <th>Ti_Tv</th>
    <th>Start</th>
    <th>Ref_var</th>
    <th>Gene</th>
    <th>NS_S</th>
    <th>Count</th>
    </tr>
    <tr>
        <td align="center">{{ mutsamplelist.ti_tv }}</td>
        <td align="center">{{ mutsamplelist.start }}</td>
        <td align="center">{{ mutsamplelist.ref_var }}</td>
        <td align="center">{{ mutsamplelist.gene }}</td>
        <td align="center">{{ mutsamplelist.ns_s }}</td>
        <td align="center">{{ mutsamplelist.count }}</td>
    </tr>
</table>
<br><br><hr>
{% if meta_list%}
    <ol>
        {% for mete_data in meta_list %}
            <li><a href="{% url 'mutapp:metadata' mete_data.meta_id %}">{{ mete_data.meta_name }}</a></li>
        {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<hr><br><br>
<a href="{% url 'mutapp:index' %}"> >>Back<< </a>

</body>
</html>