<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All samples</h1>

<ul>{{ mutsamplelist.gene }}--{{ mutsamplelist.ns_s }}--{{ mutsamplelist.ti_tv }}</ul>
{% if meta_list%}
    <ul>
        {% for mete_data in meta_list %}
            <li><a href="{% url 'mutapp:metadata' mete_data.meta_id %}">{{ forloop.counter }}---{{ mete_data.meta_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'mutapp:index' %}"> >>Back<< </a>

</body>
</html>